[submodule "reactphysics3d"]
	path = reactphysics3d
	url = https://github.com/DanielChappuis/reactphysics3d.git
[submodule "bx"]
	path = bx
	url = https://github.com/bkaradzic/bx
[submodule "bimg"]
	path = bimg
	url = https://github.com/bkaradzic/bimg
[submodule "bgfx"]
	path = bgfx
	url = https://github.com/bkaradzic/bgfx
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "soloud"]
	path = soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "bgfx.cmake"]
	path = bgfx.cmake
	url = https://github.com/widberg/bgfx.cmake.git
